*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.header-container{
    height: 20vh;
    width: 99vw;
    background-color: black;
    background-image: url('img/def.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h3{
    font-size: 1.9rem;
    font-family: arial;
    margin: 0;
    padding: 5px;
}

h4{
    font-size: 1rem;
    font-family: arial;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

body{
    background-color: rgba(245, 245, 220, 0.25);
}

.container{
    display: block;
    background-color: green;
    width: 95%;
    box-shadow: 0.1px 0.1px 1px #000;
    margin: 0 auto;
    max-width: 1200px;
    max-height: 1590px;
    min-width: 0;
    min-height: 0;
   margin-top: 70px;
}


p{
    font-family: arial;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}

h1{
    font-family: arial;
    text-align: center;
    padding-top: 10px;
    font-size: 2.0rem;
}

h2{
    font-family: arial;
    text-align: center;
    padding-top: 10px;
    font-size: 1.9rem;
}

#grid-container{
    margin-top: 5px;
    background-color: rgba(220, 220, 220, 0.55);
    padding: 5px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid div{
    background-color: #fff;
    font-family: arial;
    text-align: center;
    font-size: 1.6rem;
    padding: 2px;
    padding-bottom: 10px;
    box-shadow: 0.2px 0.2px #000;
}

#formulario{
    background-color: rgba(220, 220, 220, 0.55);
}

.formulario-contato{
    font-family: arial;
    font-size: 1.8rem;
    padding: 10px;
    text-align: left;
    margin-left: 5%;
    font-weight: bold;
}

input{
    font-family: sans-serif;
    font-size: 1.7rem;
    padding: 5px;
    color: #fff;
}

.dados-formulario{
    width: 60%;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1.0);
    transition: all 900ms ease-in-out;
}

a:hover{
    color: rgba(255, 0, 0, 1.0);
}

#enviar{
    background-color: rgba(60, 179, 113, 1.0);
    border-radius: 15%;
    width: 75px;
    box-shadow: 3px 3px #000;
}

#limpar{
    background-color: rgba(178, 34, 34, 1.0);
    border-radius: 15%;
    width: 75px;
    box-shadow: 3px 3px #000;
}

.imagem-grid{
    width: 18rem;
    height: 10rem;
    border-radius: 20px;
}

.texto-grid{
    font-family: arial;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}

.link-grid{
    font-weight: bold;
    font-size: 1.8rem;
    background-color: #000;
    border-radius: 20px;
    padding: 5px;
}

ul, li{
    font-size: 1.6rem;
    font-family: arial;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}

.imagem-grid{
    transition: 300ms ease-in-out;
}

img:hover{
    transform: translate(2%, 2%) scale(1.3) rotate(2deg);
    border: solid rgba(255, 255, 255, 1.0);
    box-shadow: 1px 1px 3px #000;
}

/* Menu hb */

.checkbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 55px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* Menu */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
}

/* Menu Animation */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: green;
    position: fixed;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 150vmax black;
    z-index: 1;
}

#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
}

.footer{
    font-family: arial;
    color: #fff;
    background-color: green;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 40px;
}

.texto-rodape{
    font-family: arial;
    text-align: center;
    padding-top: 10px;
    font-size: 1.6rem;
    padding-bottom: 10px;
}