/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/*body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: white;
    font-family: 'Outfit', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header{
    color: rgb(109, 109, 109);
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 5px;

}


/* Header */

.header-container{
    height: 30vh;
    width: 99vw;
    background-color: rgb(5, 5, 5);
    background-image: url('img/moldura.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}
 

/* Menu section */

.checkbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 55px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* Menu principal */

a:hover {
    background-color: green;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
}

/* Menu Animation */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: green;
    position: fixed;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 150vmax black;
    z-index: 1;
}

#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
}



/* card */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    color: white;
}

 
.card{
    background-image: linear-gradient(#333, #333);
    overflow: hidden;
    border-radius: 26px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;  
}

.card:hover{
    background-image: linear-gradient(#672abf, #380e74);
}

 
.card .img{
    background-image: url("");
    background-position: center;
    background-size: cover;
    width: 560px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all .5s;
    z-index: 0;   
    position: relative;     
}

.card:hover img{
    opacity: 1;
    width: 440px;
}

.card .img span{
    font-size: 34px;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
}

.card .content{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: all .5s;
    transform: translateY(30px);
}

.card:hover .content{
    padding: 20px;
    height: 260px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p{
    margin: 0;
}

.card .content .title{
    font-size: 24px;
    font-weight: 600;
}

.card .content .desc{
    font-size: 15px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card:hover .arrow{
    transform: rotate(0);
}

.card .arrow{
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card .arrow span{
    font-size: 24px;
}

/* footer */

.footer {
    height: 200px;
    width: 100%;
    background-color: black;
    display: block;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}



















@media(min-width: 320px) and (max-width: 915px){
   
.checkbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* flex-direction: column;*/
    
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 55px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
   /* position: fixed;*/
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
    /*position: fixed;*/
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
    /*position: fixed;*/
}

#toggle {
    display: none;
}
   
   
    a:hover {
        background-color: green;
    }
    
    .menu {
        position: absolute;
        top: 28px;
        right: 30px;
        background-color: transparent;
        height: 4px;
        width: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px white;
        z-index: -1;
        transition: 400ms ease-in-out 0s;
    }
    
    .menu-itens {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 400ms ease-in-out 0s;
    }
    
    .menu-itens ul {
        list-style-type: none;
    }
    
    .menu-itens ul li a {
        margin: 10px 0;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 50px;
    }


    #toggle:checked + .checkbox .trace:nth-child(1) {
        transform: rotate(45deg);
        top: 47px;
    }
    
    #toggle:checked + .checkbox .trace:nth-child(2) {
        transform: translate(-100px);
        width: 30px;
        visibility: hidden;
        opacity: 0;
    }
    
    #toggle:checked + .checkbox .trace:nth-child(3) {
        transform: rotate(-45deg);
        top: 48px;
    }
    
    #toggle:checked + .checkbox {
        background-color: green;
        position: fixed;
    }
    
    #toggle:checked ~ .menu {
        box-shadow: 0px 0px 0px 150vmax black;
        z-index: 1;
        /*position: fixed;*/
    }
    
    #toggle:checked ~ .menu-itens {
        visibility: visible;
        opacity: 1;
    }


/* cards */
    
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vh;
    color: white;
}

 
.card{
    background-image: linear-gradient(#333, #333);
    overflow: hidden;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;  
}

.card:hover{
    background-image: linear-gradient(#4f772d, #132a13);
}

 
.card .img{
    background-image: url("");
    background-position: center;
    background-size: cover;
    width: 460px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all .5s;
    z-index: 0;   
    position: relative;     
}

.card:hover img{
    opacity: 1;
    width: 440px;
}

.card .img span{
    font-size: 34px;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
}

.card .content{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: all .5s;
    transform: translateY(30px);
}

.card:hover .content{
    padding: 5px;
    height: 360px;
    text-align: justify;
    opacity: 1;
    transform: translateY(0);
}

.card .content p{
    margin: 0;
}

.card .content .title{
    font-size: 24px;
    font-weight: 600;
}

.card .content .desc{
    font-size: 15px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card:hover .arrow{
    transform: rotate(0);
}

.card .arrow{
    transform: rotate(-180deg);
    transition: all .5s;
}

.card .arrow span{
    font-size: 54px;
}


    

.footer{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: top center;
    justify-content: center;
    color: white;
    font-size: 50px;
}
}