/* Phones */

/* Iphone XR | Samsung Galaxy S20 Ultra*/
@media(max-width: 450px){
    .dropdown{
        margin-top: 16rem;
        margin-left: 1.5rem;
    }

    .pixar-image{
        height: auto;
        width: 10rem;
        right: 8rem;
        top: 7rem;
    }

    h1{
        font-size: 2rem;
        width: 30rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
        margin-left: -9.5rem;
    }

    h2{
        font-size: 1rem;
        width: 30rem;
        margin-left: -9.5rem;
    }

    .social-media {
        display: flex;
        flex-wrap: wrap;
    }
    .social-media a {
        margin-top: 1rem;
        margin-left: -2rem; 
        height: 1rem;
        width: 15rem;
    }

    .curly-line{
        height: 2.8rem;
        width: 99%
    }

    .header-bottom{
        height: 220vh;
    }

    .developer-picture{
        height: auto;
        width: 10rem;
        margin-top: 5rem;
        margin-right: -29rem;
    }

    .developer-text{
        height: 1rem;
        margin-top: 35rem;
        margin-left: 7rem;
    }

    .developer-text h2{
        font-size: 2rem;
        width: 25rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
    }

    .developer-text p{
        font-size: 1.2rem;
        text-align: justify;
        margin-left: 8rem;
    }

    .h2-sub{
        margin-top: 25rem;
        margin-left: -1rem;
    }

    .carousel .fa-chevron-left{
        margin-right: 5rem;
    }

    .carousel .fa-chevron-right{
        margin-left: 5rem;
    }

    .carousel .carousel-item {
        margin-left: 0.2rem; 
    }

    .card-container{
        margin-left: -9.5rem;
        margin-bottom: 30rem;
        margin-top: 5rem;
    }

    .card-container .card-content h2{
        padding-left: 10rem;
    }

    .project-section h2{
        text-align: center;
        margin-left: -2rem;
        font-size: 2rem;
    }

    .container {
        padding: 20px;
    }
    
    #grid-container h2{
        margin-left: -2.5rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid div {
        margin-bottom: 20px;
        width: 90%;
    }

    .image-grid {
        width: 30%;
        height: auto;
    }

    .text-grid {
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }

    .link-grid {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    #footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #footer-contacts,
    .footer-list,
    #footer-subscribe {
        flex: 1 1 100%; 
        margin-bottom: 5rem;
    }

    #footer-contacts h2{
        margin-left: 0rem;
    }

    #footer-contacts #footer-social-media{
        padding-left: 6rem;
    }

    #footer-subscribe {
        order: 3; 
    }

    .footer-list {
        order: 1; 
    }

    .form-data,
    textarea {
        width: calc(100% - 20px); 
    }

    #sendBtn {
        width: calc(100% - 0px); 
        margin-top: 2rem;
        height: 5rem;
    }
    
    #footer-copyright {
        text-align: center;
        font-size: 1rem;
    }
}



/* Samsung Galaxy S8+ */
@media(max-width: 360px){
    .dropdown {
        margin-top: 20rem; 
        margin-left: -0.2rem; 
    }

    .pixar-image{
        height: auto;
        width: 8rem;
        right: 7rem;
        top: 7rem;
    }

    h1{
        margin-top: 1rem;
        margin-bottom: 0rem;
        margin-left: -11rem;
    }

    h2{
        margin-left: -11rem;
    }

    .social-media a {
        margin-left: -4rem; 
    }

    .header-bottom{
        height: 280vh;
    }

    .developer-picture{
        height: auto;
        width: 8rem;
        margin-top: 5rem;
        margin-right: -30rem;
    }

    .developer-text{
        margin-top: 30rem;
        margin-left: 10rem;
    }

    .h2-sub{
        margin-left: -1.5rem;
    }

    .carousel .fa-chevron-left{
        margin-right: 8rem;
    }

    .carousel .fa-chevron-right{
        margin-left: 8rem;
    }

    .carousel .carousel-item {
        margin-left: -1rem; 
    }

    .card-container{
        margin-left: -10.9rem;
        margin-bottom: 30rem;
        margin-top: 5rem;
    }

    .card-container .card-content h2{
        padding-left: 11rem;
    }

    .project-section h2{
        margin-left: -3.5rem;
    }

    #grid-container h2{
        margin-left: -3.9rem;
    }

    #footer-contacts h2{
        margin-left: -2.5rem;
    }

    #footer-contacts p{
        margin-left: -1.5rem;
        font-size: 1.7rem;
    }

    #footer-contacts #footer-social-media{
        padding-left: 4rem;
    }

}


@media(max-width: 320px){
    .dropdown{
        margin-top: 28rem;
        margin-bottom: 2.5rem;
        right: 1.2rem;
    }

    .pixar-image{
        height: auto;
        width: 8rem;
        right: 5.8rem;
    }

    h1{
        margin-top: -2rem;
        font-size: 1.7rem;
        margin-left: -12.5rem;
    }

    h2{
        font-size: 0.9rem;
        margin-left: -12.5rem;
    }

    .social-media a {
        margin-left: -5rem; 
        height: 3rem;
        width: 15rem;
    }

    .curly-line{
        height: 25.8rem;
    }

    .header-bottom{
        height: 280vh;
    }
}
