@media only screen and (max-width: 360px) and (max-height: 740px) {
.navbar{
    width: 100vw;
}

.header-container {
    width: 100vw; 
    height: 100vh; 
}

.header-container h1 {
        display: flex;
        padding: 0;
        margin-left: -1.8rem;
        font-size: 1rem;
        width: 20rem;
}


    .header-container h2 {
        display: flex;
        padding: 0;
        margin-left: -4rem;
        font-size: 1rem;
        width: 20rem;
    }

    .pixar-image {
        height: 100px; 
        width: 100px;
        right: 35%;
        top: 13%;
    }

    .dropdown {
        position: relative; 
        display: flex; 
        margin-top: 15rem;
        margin-left: 0.3rem;
    }

    .dropdown-menu {
        position: absolute; 
    }

    .dropdown-item {
        color: #000000;
    }

    .dropdown-item:hover {
        background-color: #343a40;
    }

    .developer-picture {
        height: 10rem; 
        width: 10rem;
        margin-top: 4rem; 
        margin-bottom: 2rem;
        margin-left: 6.5rem;
    }
    .social-media {
        display: flex;
        flex-wrap: wrap;
    }
    .social-media a {
        margin-top: 1rem;
        margin-left: -3.5rem; 
        height: 1rem;
        width: 15rem;
    }
    .card-container{
        padding: 1rem;
    }
    #footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #footer-contacts,
    .footer-list,
    #footer-subscribe {
        flex: 1 1 100%; 
        margin-bottom: 5rem;
    }
    #footer-contacts #footer-social-media{
        padding-left: 6rem;
    }
    #footer-subscribe {
        order: 3; 
    }
    .footer-list {
        order: 1; 
    }
    .form-data,
    textarea {
        width: calc(100% - 20px); 
    }
    #sendBtn {
        width: calc(100% - 0px); 
        margin-top: 2rem;
        height: 5rem;
    }
    #footer-copyright {
        text-align: center;
        font-size: 1rem;
    }
}



