/* CSS Document */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html{
    scroll-behavior: smooth;
}

p{
  font-family: 'Outfit';
  text-align: justify;
  padding: 10px;
  font-size: 16px;
  color: #393939;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-left: -3rem;
}

h2 {
  color: #1DB954;
  font-family: 'Outfit', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-top: 1.2rem;
  margin-left: 11.5rem;
}

h3{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
}

/*a:hover {
    background-color: #132A13;
}*/
  
/* NAVBAR */

#navbar {
  /*background-image: url('./../img/teste.png');*/
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
#navbar a {
  color: #ffffff;
}

.nav-item a:hover {
  text-decoration: underline;
}
  
#navbar .navbar-toggler .bi-list {
  color: #ffffff;
}
  
#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.7rem;
}
  
#navbar-items .nav-item {
  margin: 0 1em;
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;
}

/* Dropdown Language */

/*.dropdown {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.dropdown .btn-secondary{
  background-color: #ffffff;
}

.dropdown .dropdown-toggle{
  color: #000000;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: #ffffff;
}

.dropdown-item {
  color: #000000;
}*/

/* Estilo para o botão de troca de idioma */
#language-toggle {
  position: absolute;
  top: 34rem;
  right: 1rem;
  background-color: #333333;
  color: #1DB954;
  border: none;
  border-radius: 50%;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
}

#language-toggle:hover {
  background-color: #555555;
}

/* Adicionar um menu suspenso para idiomas */
#language-menu {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: #333333;
  border-radius: 5px;
  padding: 0.5rem 0;
}

#language-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

#language-menu a:hover {
  background-color: #555555;
}

/* Estilo para o botão de acessibilidade */
#accessibility-toggle {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  background-color: #333;
  color: #1DB954;
  border: none;
  border-radius: 50%;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
}

#accessibility-toggle:hover {
  background-color: #555555;
}

/* Estilo para o modo de alto contraste */
body.high-contrast {
  background-color: #000000;
  color: #ffffff;
}

body.high-contrast p {
  color: #ffffff;
}

body.high-contrast h1, body.high-contrast h2, body.high-contrast h3 {
  color: #ffffff;
}

/* Parallax effect */
.parallax {
  background-image: url('./../img/teste.png');
  height: 800px;
  width: 118.5%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -7.5rem;
}

.content {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

/* Header */

.header-container {
  height: 100vh;
  width: 99vw;
  background-color: #0e0c0c;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 120px;
  position: relative;
}

.social-media {
    margin-top: 3rem;
    margin-left: 3rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    min-width: 8rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.social-media a:hover{
  background-color: #5E5E5E;
}

.header-icon{
  font-size: 3rem; 
  width: 50px; 
  height: 3rem; 
}

.menu-itens ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;
    top: 1.5rem;
    position: absolute;
    gap: 30rem;
}

.menu-itens ul a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.pixar-image{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: absolute;
    right: 10rem;
    top: 11rem;
}


/* Header bottom */

.header-bottom{
  height: 200vh;
  width: 99vw;
  background-color: #000000;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

.developer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.developer-picture {
  border: 3px solid #1DB954; 
  border-radius: 50%; 
  max-width: 400px;
  height: auto;
  margin-left: 2rem;
  margin-top: -10rem;
}

.developer-text {
  margin-left: 3rem;
  margin-top: -15rem;
}

.developer-text h2{
  color: #1DB954;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin-left: 25rem;
  letter-spacing: 0.2rem;
}

.developer-text p{
  color: #ffffff;
  font-size: 1.3rem;
  font-family: 'Outfit', sans-serif;
  text-align: left;
  letter-spacing: 0.2rem;
}

.h2-sub{
  color: #1DB954;
  font-family: 'Montserrat', sans-serif;
  padding-left: 17.5rem;
  padding-top: 5rem;
}

/* Caroulsel */

.carousel-inner {
  display: flex;
  flex-direction: row;
}

.carousel-item {
  width: 100%;
  margin-top: 3rem;
  align-items: center;
}

.carousel-item i{
  font-size: 7rem;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5%;
  background: transparent;
  border: none;
  outline: none;
  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
  background-size: contain;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
}

.carousel .fa-chevron-left{
  margin-right: -40rem;
}

.carousel .fa-chevron-right{
  margin-left: -40rem;
}

.language-name{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel-indicators {
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel-indicators li {
  background-color: #171717;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 2rem 5px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #ffffff; 
}


/* Cards */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 6rem;
  color: #ffffff;
  position: relative;
  padding: 0 4rem 0 4rem;
  max-width: 1400px;
  margin-bottom: -5rem;
  margin-right: 3.5rem;
}

.card {
  position: relative;
  width: 120%;
  height: 210px;
  background-color: #1DB954;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: box-shadow 0.3s;
  perspective: 1000px;
  margin-top: 5rem;
  margin-bottom: -5rem;
}

.card .card-inner .card-front .card-content h2{
  padding-right: 33rem;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.55s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.card-front {
  background-color: #1DB954;
}

.card-front .card-content h2{
  margin-left: 32.5rem;
  color: #ffffff;
}

.card-back {
  background-color: #1DB954;
  transform: rotateY(180deg);
}

.card-back .card-content h2{
  color: #ffffff;
  margin: 0 auto;
  font-size: 1rem;
}

.card-content i {
  font-size: 2rem !important;
  color: #a8a29e;
}

.card-content {
  text-align: center;
}

.card-content p{
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}


/* SECOND SLIDE */

/*.second-slider-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 6rem;
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #1DB954;
  margin-left: 2rem;
  margin-top: 7rem;
}

.second-slider {
  position: relative;
  display: none;
  padding: 20px;
  box-sizing: border-box;
}

.second-slider.active {
  display: block;
}

.second-slider-content {
  display: flex;
  gap: 20px;
}

.second-slider-icon img {
  width: 7rem;
  height: 7rem;
}

.second-slider-container h2{
  color: #ffffff;
  margin-left: 5rem;
}

.second-slider-text h3 {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}

.second-slider-text p {
  font-size: 14px;
  color: #000000;
  margin-top: 5px;
}

#slide2 h3{
  margin-left: 7rem;
}

#slide2 p{
  margin-left: 5rem;
}

.dots {
  text-align: center;
  margin-top: 2rem;
  margin-right: 38.5rem;

}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background: #171717;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #ffffff;
}*/

/*.slider-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.second-slider-container {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 2rem;
}

.second-slider {
  display: none;
}

.second-slider.active {
  display: block;
}

.second-slider-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.second-slider-icon img {
  width: 50px;
  height: 50px;
}

.second-slider-text h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.second-slider-text p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: #666;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #717171;
}*/

.slider-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}

.second-slider-container {
  width: 100%;
  max-width: 1000px;
  height: 20rem;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #1DB954;
  padding: 2rem;
}

.second-slider-container h2{
  color: #ffffff;
  width: 100%;
  margin-left: 3.9rem;
}

.second-slider {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.second-slider.active {
  display: block;
  opacity: 1;
}

.second-slider-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.second-slider-icon img {
  width: 7rem;
  height: 7rem;
}

.second-slider-text h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.second-slider-text p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: #000000;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #171717;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #ffffff;
}

/* Projects Form */

#portfolio{
  background-color: #ffffff;
}

.project-section h2,p{
    color: #000000;
    text-align: center;
    margin: 0 auto;
}

#grid-container{
    margin-top: 5px;
    margin-bottom: 5rem;
    background-color: #000000;
    padding: 5px;
}

#grid-container h2{
  margin-left: 35.5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid div{
    background-color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
    padding: 2px;
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.image-grid{
    width: 10rem;
    height: 10rem;
    border-radius: 200px;
    transition: 500ms ease-in-out;
    margin-top: 2rem;
}

/*.image-grid:hover{
    transform: translate(2%, 2%) scale(1.3);
    border: solid rgba(255, 255, 255, 1.0);
    box-shadow: 1px 1px 3px #000000;
}*/

/*.text-grid{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
}*/

.link-grid{
    height: 3.5rem;
    width: 17rem;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #000000;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 3.5rem;
}

.link-grid:hover{
  color: #ffffff;
  background-color: #1DB954;
  transition: 0.5s;
}

/*.tech-icon {
  display: inline-block;
  text-align: center;
  margin: 0 7px;
  margin-top: 2rem;
}

.tech-icons {
  display: block;
  margin: 0 auto;
  height: 3rem;
}*/

.tech-icon-text {
  color: #000000;
  background-color: #1DB954; 
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 20px;
  font-size: 1rem;
  font-family: 'Outfit',sans-serif;
}




/* footer */

.footer {
    height: 100vh;
    width: 100%;
    background-color: #0e0c0c;
    align-items: top center;
    justify-content: center;
    color: white;
    font-size: 35px;
}

.footer-link{
    text-decoration: none;
}

#footer-content{
    background-color: #171717;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h2{
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-size: 2.3rem;
    font-weight: bold;
    display: flex;
    color: #ffffff;
}

#footer-contacts p{
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: 2rem;
    color: #a8a29e;
    display: flex;
    padding-left: 2.5rem;

}

#footer-social-media{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

#footer-social-media .footer-link{
    height: 5rem;
    width: 5rem;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

#footer-social-media .footer-link i{
    font-size: 2rem;
}

#footer-social-media .footer-link:hover{
    opacity: 0.8;
}

#github{
    background-color: black;
}

#linkedin{
    background-color: black;
}

#hacker-rank{
  background-color: black;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list h3{
    color: #ffffff;
    display: flex;
    padding-bottom: 1rem;
}


.footer-list .footer-link{
    color: #a8a29e;
}

.footer-list .footer-link:hover{
    color: #ffffff;
    transition: all 0.4s;
}

#footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#footer-subscribe h3{
    color: #ffffff;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#footer-subscribe .col-sm-6, .col-6, .col-12{
    color: #a8a29e;
    margin-top: 0;
    font-size: 2rem;
}

#input-group{
    display: flex;
    align-items: center;
    background-color: #a8a29e;
    border-radius: 4px;
    margin-top: 1rem;
}

#input-group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input-group button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group i{
    height: 100%;
}


#input-group button:hover{
    color: #191716;
}

.btn{
  color: #ffffff;
  background-color: #1DB954;
  width: 15rem;
  margin-left: 7.5rem;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0c0c;
    font-size: 2rem;
    padding: 3rem;
    margin-top: 1rem;
    font-weight: 100;
}




